* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

body {
    margin-left: 120px;
    margin-right: 120px;
    background: #F9FAFF;
}

#root {
    display: flex;
    justify-content: center;
    flex-direction: column;
}